<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center langjs" lang="en">${markdown(page.team.title.en)}</h2>
                <h2 class="intro-text text-center langjs" style="display:none" lang="fr">${markdown(page.team.title.fr)}</h2>
                <hr>
            </div>
            <% page.team.members.each { member -> %>
            <div class="col-md-4 text-center">
                <div><img style="width:90%" src="${member.foto}" alt=""></div>
                <h3>${member.name}
                    <br><small class="langjs" lang="en">${member.position.en}</small>
                    <small class="langjs" lang="fr" style="display:none">${member.position.fr}</small>
                </h3>

            </div>
            <% } %>

            <div class="clearfix"></div>
        </div>
    </div>

</div>